<div class="signin">
    <div class="fields-holder">
        <div class="field">
            <input type="text" [(ngModel)]="accountNumber" placeholder="Bank account number">
            <span class="error-message" *ngIf="accountNumber.length != 14">Enter 14 digit number only</span>
        </div>
        <div class="field">
            <input type="text" [(ngModel)]="atmPin" placeholder="Register your atm pin">
            <span class="error-message" *ngIf="atmPin.length != 4">Enter 4 digit number only</span>
        </div>
        <div class="field">
            <input type="number" [(ngModel)]="cashAmount" placeholder="Enter cash amount">
        </div>

        <button class="btn" [disabled] = "atmPin.length != 4 || accountNumber.length != 14" (click)="submitData()">
            <span *ngIf="atmPin.length == 4 && accountNumber.length == 14">All set! Register</span>&nbsp;
            <span *ngIf="atmPin.length != 4 || accountNumber.length != 14">Fields are invalid</span>
        </button>
    </div>
</div>