body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    max-height: 200px;
    max-width: 50%;
    object-fit: cover;
    margin: 10px;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls {
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button i {
    font-size: 24px;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.leave__meeting {
    color: #EB534B;
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__header {
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.messages {
    color: white;
    list-style: none;
    padding: 10px 0 0 10px;
    font-size: 12px;
}

.message {
    overflow-wrap: break-word;
    max-width: 200px;
    margin: 0 20px 0 0;
}

.unmute {
    color: #CC3B33;
}

@media(max-width: 767px) {
    .main__controls {
        font-size: 10px;
    }
    .main__controls__button i {
        font-size: 18px;
    }
}