.todos{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}